<div class="dialog-container">
  <!-- Botão de Fechar -->
  <button mat-icon-button class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>

  <!-- Título -->
  <h2>Como escolher seu login?</h2>

  <!-- Conteúdo -->
  <div class="content">
    <p>Escolha o tipo de login de acordo com o perfil:</p>
    <ul>
      <li><strong>Aluno:</strong> Para estudantes.</li>
      <li><strong>Professor:</strong> Para docentes.</li>
      <li><strong>Administração:</strong> Para os responsáveis pelo sistema.</li>
    </ul>
  </div>
</div>
